{{ define "dashboard-content" }}
{{ if .ServerInfoError }}
<section class="card error">{{ .ServerInfoError }}</section>
{{ else }}
{{ template "server-info" .ServerInfo }}
{{ end }}

{{ if .ServiceStatusError }}
<section class="card error">{{ .ServiceStatusError }}</section>
{{ else }}
{{ template "service-status" .ServiceStatus }}
{{ template "uptime" .ServiceStatus }}
{{ if .EventsError }}
<section class="card error">{{ .EventsError }}</section>
{{ else }}
{{ template "events" .Events }}
{{ end }}
{{ end }}

{{ if .ClientsError }}
<section class="card error">{{ .ClientsError }}</section>
{{ else }}
{{ template "client-list" .ClientRows }}
{{ end }}

{{ if .StatsError }}
<section class="card error">{{ .StatsError }}</section>
{{ else if .Stats }}
{{ template "system" .Stats }}
{{ template "network-rate" .Stats }}
{{ end }}
{{ end }}
