<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WireGuard Dashboard</title>
  </head>
  <body>
    <h1>WireGuard Dashboard</h1>

    {{ if .ServerInfoError }}
    <section class="card error">{{ .ServerInfoError }}</section>
    {{ else }}
    {{ template "server-info" .ServerInfo }}
    {{ end }}

    {{ if .ServiceStatusError }}
    <section class="card error">{{ .ServiceStatusError }}</section>
    {{ else }}
    {{ template "service-status" .ServiceStatus }}
    {{ template "uptime" .ServiceStatus }}
    {{ end }}
  </body>
</html>
